@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.navbar{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.brand-and-toggler{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.navbar-brand{
  text-transform: uppercase;
  font-family: var(--poppins);
  font-size: 1.7rem;
  font-weight: 800;
}
.navbar-toggler{
  border: none;
  font-size: 1.7rem;
  background: none;
  color: snow;
  cursor: pointer;
  outline: none;
  transition: var(--transition);
}
.navbar-toggler:hover{
  opacity: 0.8;
}
.navbar-collapse{
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.nav-item{
  text-align: center;
  padding: 0.6rem;
  position: relative;
}
.nav-item::after{
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  width: 0;
  height: 2px;
  background: #72b626;
  transition: var(--transition);
}
.nav-item:hover::after{
  width: 100px;
}
.nav-link{
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: var(--transition);
}
.nav-link:hover{
  color: #72b626;
}
.nav-active .nav-link{
  color: #72b626;
}

/*** show nav class***/ 
.showNav{
  height: 385px;
}

/* #### HOME PAGE #### */

.text-1{
  font-size: 27px;
}
.text-2{
  font-size: 63px;
  font-weight: 600;
  margin-left: -3px;
}
.text-3{
  font-size: 40px;
  margin: 5px 0;
}
.text-3 span{
  color: #72b626;
  font-family: 'PT Serif', serif;
  font-weight: 500;
}

.row{
  margin: 241px 0px 0px 0px;
}

.row-left{
  margin: 10px 0px 0px 0px !important;
}

.footer{
  margin: -110px 0px 0px 110px;
}

.home .home-content a{
  display: inline-block;
  background: #72b626;
  color: #111111;
  font-size: 25px;
  font-family: 'PT Serif', serif;
  padding: 12px 36px;
  margin-top: 69px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #72b626;
  transition: all 0.3s ease;
}
.home .home-content a:hover{
  color: #72b626;
  font-family: 'PT Serif', serif;
  background: none;
}

/* #### ABOUT PAGE #### */
.about{
  padding: 5rem 0 2.5rem 0;
}

/*.row-{
  margin: 16px 0px 0px 0px;
}*/

.about .row-right{
  padding: 3rem 0;
}
.about .row-right p{
  margin: -261px 0px 0px 0px;
}
.about-content{
  margin: 1.5rem 0;
}
.about-content li{
  display: flex;
  margin: 0.6rem 0;
}
.about-content li span{
  flex: 1;
}
.about-content li span:first-child{
  color: #fff;
  font-weight: 600;
}
.about .row-right h3{
  color: var(--green);
  font-size: 1.5rem;
}
.about .row-right h3 span{
  color: #fff;
  font-weight: 400;
}

/* #### RESUME PAGE #### */
.resume{
  padding: 5rem 0 2.5rem 0;
}
.resume > .text{
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
}
.resume .item{
  padding: 0 2.5rem;
  margin: 2rem;
  border-left: 1px solid var(--nero);
  position: relative;
}
.resume .item > span{
  background: var(--nero);
  border-radius: 15px;
  padding: 0.25rem 0.7rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
.resume .item h2{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}
.resume .item h2 span{
  font-size: 1rem;
  color: #d0d0d0;
}
.resume .item .text{
  font-size: 1rem;
  padding-bottom: 0;
}
.resume .icon{
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  background: var(--green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -25px;
}

/* #### SERVICES PAGE #### */
.services{
  padding: 5rem 0 2.5rem 0;
}
.services > .text{
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
}
.services .item{
  text-align: center;
  padding: 1.5rem 0 4rem 0;
  background: var(--nero);
  margin: 1.5rem 0;
  cursor: pointer;
  transition: var(--transition);
}
.services .item span{
  font-size: 5rem;
  color: var(--green);
}
.services .item h2{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
}
.services .item h2::after{
  content: "";
  position: absolute;
  bottom: 0;
  background: var(--green);
  width: 50px;
  height: 0.5px;
  left: 50%;
  transform: translateX(-50%);
}
.services .item:hover{
  background: var(--green);
}
.services .item:hover span{
  color: #fff;
}
.services .item:hover h2{
  color: var(--black);
}
.services .item:hover h2::after{
  background: var(--black);
}
.services .btn{
  margin: 2.5rem auto 1rem auto;
  display: block;
}


/* #### SKILLS PAGE #### */ 

.skills{
  padding: 5rem 0 2.5rem 0;
}

::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 25px 30px;
  width: 645px;
  background-color: #0e0e0e;
  margin: 0px 0px 0px 251px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 75%;
}
.bar .progress-line.css span{
  width: 90%;
}
.bar .progress-line.javascript span{
  width: 70%;
}
.bar .progress-line.react span{
  width: 85%;
}
.bar .progress-line.angular span{
  width: 95%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "75%";
}
.progress-line.css span::after{
  content: "90%";
}
.progress-line.javascript span::after{
  content: "70%";
}
.progress-line.react span::after{
  content: "85%";
}
.progress-line.angular span::after{
  content: "95%";
}


/* #### PROJECTS PAGE #### */

.item{
  margin: 0px 70px 0px 0px;
  background: #252525;
  padding-bottom: 115px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #52ad26;
}

.item-overlay{
  margin-bottom: -115px;
}

.title{
  margin: 50px 0px 0px 0px;
}

.projects .text{
  font-size: 1.40rem !important;
  color: snow !important;
  line-height: 2.9 !important;
  text-align: center !important;
}

.card{
  width: 357px;
  height: 239px;
  position: relative;
  border-radius: 20px;
  /* display: flex; */
  cursor: pointer;
  background: #0f212f;
  /* box-shadow: 0px 0px 20px rgb(136 4 4 / 12%); */
}

.card img{
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.content{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
  padding: 0.4em 1.5em;
  font-size: 14px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transform: scale(0.9);
  color: snow;
  border: 1px solid rgba(255, 255, 255, 0.164);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.144);
  overflow: hidden;
  transition: all 0.4s; 
}

.content p{
  font-size: 0.8em;
}

.CardSection1{
  display: flex;
  margin: 5px 0px 0px 197px;
}

.CardSection1 .card1{
  margin: 0px 71px 35px 0px;
  width: 357px;
  height: 239px;
  position: relative;
  border-radius: 20px;
  /* display: flex; */
  cursor: pointer;
  background: #0f212f;
}

.CardSection2{
  display: flex;
  margin: 0px 0px 0px 197px;
}

.CardSection2 .card3{
  margin: 0px 71px 35px 0px;
  width: 357px;
  height: 239px;
  position: relative;
  border-radius: 20px;
  /* display: flex; */
  cursor: pointer;
  background: #0f212f;
}

.card:hover{
  box-shadow: 0px 0px 11px 0px #c6ccc3;
  transition: all 0.3s ease;
  margin: -1px 0px 0px 0px; 
}

.card1:hover{
  box-shadow: 0px 0px 11px 0px #c6ccc3;
  transition: all 0.3s ease; 
}

.card3:hover{
  box-shadow: 0px 0px 11px 0px #c6ccc3;
  transition: all 0.3s ease; 
}

.card:hover .content{
  height: 150px;
}

.card1:hover .content{
  height: 150px;
}

.card3:hover .content{
  height: 150px;
}


/* #### BLOG PAGE #### */
.blog{
  padding: 5rem 0 2.5rem 0;
}
.blog > .text{
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
}
.blog .item{
  margin: 1rem 0;
  background: var(--nero);
  border-radius: 5px;;
  overflow: hidden;
}
.blog .item .item-img{
  border-bottom: 8px solid var(--green);
  overflow: hidden;
}
.blog .item .item-img img{
  transition: var(--transition);
}
.blog .item .item-img:hover img{
  transform: scale(1.2);
}
.blog .item .item-content{
  padding: 1.5rem;
}
.blog .item .item-content span{
  color: var(--green);
  text-transform: uppercase;
}
.blog .item .item-content span .fas{
  font-size: 0.85rem;
}
.blog .item .item-content h2{
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1.4rem;
}
.blog .pagination{
  margin: 3rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .page-link{
  background: var(--nero);
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  transition: var(--transition);
}

.blog .page-link:nth-child(2){
  background: var(--green);
}
.blog .page-link:hover{
  background: var(--green);
}

/* #### CONTACT PAGE #### */
.contact{
  padding: 5rem 0 2.5rem 0;
}

.contact .row{
  margin: 1rem 0;
}
.contact .row > div{
  margin: 2.5rem 0;
  padding: 2rem 0;
}

.col-left .text{
  font-size: 21px !important;
    color: snow !important;
    line-height: 1.5 !important;
    text-align: center !important;
    margin: 0px 113px 0px 0px;
}

.text1{
  font-size: 21px;
    margin: 7px 0px -5px 2px;
}

.contact .col-left h2{
  text-transform: uppercase;
}
.contact .contact-info1{
  margin: 1rem 0;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.contact .contact-info1 > span{
  color: var(--green);
  font-size: 2.6rem;
  margin-right: 1.2rem;
}

.contact .contact-info2{
  margin: -3.9rem 0px 21px 0px;
  padding: 0.5rem 0;
  display: flex;
}

.contact .contact-info2 > span{
  color: var(--green);
  font-size: 2.6rem;
  margin-right: 1.2rem;
}

.contact .contact-info1 h3{
  font-size: 1rem;
  font-weight: 400;
  margin: 45px 0px 45px 0px;
}

.contact .contact-info2 h3{
  font-size: 1rem;
  font-weight: 400;
  margin: -5px 0px 7px 0px;
}

.contact .contact-info h3 span{
  text-transform: uppercase;
  font-size: 1.05rem;
}
.contact .contact-social-links{
  display: flex;
}
.contact .contact-social-links a{
  display: block;
  width: 50px;
  height: 50px;
  background: var(--nero);
  margin: 0 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: var(--transition);
}
.contact .contact-social-links a:first-child{
  margin-left: 0;
}
.contact .contact-social-links a:hover{
  background: var(--green);
}
.contact-form input, .contact-form textarea{
  width: 100%;
  margin: 1rem 0;
  background: var(--nero);
  border: 2px solid transparent;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 25px;
  outline: 0;
  caret-color: #fff;
}
.contact-form input:focus, .contact-form textarea:focus{
  border-color: var(--green);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
  text-transform: uppercase;
}




/* #### footer #### */
.footer{
  padding: 2.5rem 0;
  /*border-top: 1.5px solid #252525;*/
}
.footer-title{
  text-transform: capitalize;
  font-size: 1.3rem;
  font-family: var(--poppins);
  font-weight: 700;
  margin: -45px 0px 0px -65px;
}

.footer-titleLinks{
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: var(--poppins);
    font-weight: 700;
    margin: -45px 0px 0px 66px;
}

.footer-links{
  margin: 31px 155px 0px 64px;
}

.footer-links2{
  margin: 31px 155px 0px 37px;
}

.textLinks{
  font-size: 19.4px;
  line-height: 22px;
  margin: 0px 0px 21px 0px;
  padding: 0.2rem 30px;
}

.textAbout{
  margin: 31px 0px 0px -68px !important;
  font-size: 18px !important;
}

.footer .col{
  text-align: center;
  padding: 137px 0px 0px 0px;
  margin: -108px 0px 0px -64px;
}
.footer .col:first-child .text{
  width: 80%;
  margin: 0 auto;
}

.footer .col:last-child.text{
  padding: 137px 0px 0px 0px !important;
  margin: -108px 0px 0px -64px !important;
}

.footer .col:last-child div{
  padding: 0.2rem 0px 0px 0px;
  margin: 31px 0px -7px -65px;
}

.footer-titleMore{
  text-transform: capitalize;
  font-size: 1.3rem;
  font-family: var(--poppins);
  font-weight: 700;
  margin: -45px 0px 0px -3px;
}

.social-links{
  display: flex;
  justify-content: center;
  margin: -4px 0px 15px -77px;
}
.social-links a{
  background: var(--nero);
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 1.5rem 0.5rem;
  transition: var(--transition);
}
.social-links a:hover{
  background: var(--green);
}
.footer-links a{
  display: block;
  text-transform: capitalize;
  padding: 0.2rem 0;
  transition: var(--transition);
}
.footer-links a .fas{
  display: none;
}
.footer-links a:hover{
  color: #fff;
}
.footer .col:last-child div{
  padding: 0.2rem 0;
}
.footer .col:last-child .fas{
  padding-right: 4.5rem;
}
.footer-text .text{
  text-align: center;
}






/* #### Media Queries #### */
@media screen and (min-width: 500px){
  /* home page */
  .home .row-left h1{
      font-size: 4rem;
  }
  .home .row-left h2{
      font-size: 1.4rem;
  }
  .home-pg-btn button{
      padding: 1rem 1.5rem;
  }
  .home .img-container{
      width: 320px;
      height: 320px;
  }
  .home .img-border{
      width: 325px;
      height: 325px;
  }
}

@media screen and (min-width: 768px){
  /* footer */
  .footer .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  /* about page */
  .about .row-left{
      width: 400px;
      height: 400px;
      margin: 1rem auto;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
  }
  /* resume page */
  .resume .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  /* services page */
  .services .row{
      display: flex;
      flex-wrap: wrap;
  }
  .services .item{
      flex: 0 0 calc(50% - 2rem);
      margin: 1rem;
  }
  /* skills page */
  .skills .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
  }
  /* projects page */
  .projects .row{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
  }
  .projects .row .item{
      margin: 0;
  }
  .projects .row .item:nth-child(2){
      grid-column: 2/4;
  }
  .projects .row .item:nth-child(3){
      grid-column: 1/3;
  }
  .projects .row .item:nth-child(6){
      grid-column: 2/4;
  }

  /* blog page */
  .blog .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
  }
  /* contact page */
  .contact-form .form-group{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
  }
  .contact .row > div{
      margin: 0;
  }
}

@media screen and (min-width: 992px){
  /* navbar section */
  .navbar-toggler{
      display: none;
  }
  .navbar .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
  }
  .navbar-nav{
      display: flex;
      justify-content: flex-end;
  }
  .navbar-collapse{
      height: 100%;
      flex: 1 0 auto;
  }
  .brand-and-toggler{
      flex: 0 0 100px;
  }
  .nav-item{
      margin: 0 0.5rem;
  }
  .nav-link{
      font-size: 1rem;
  }

  /* home page */
  .home .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
  }
  .home .row > div{
      height: calc(100vh - 73px);
      border: none;
      margin: 0;
      align-items: flex-start;
  }
  .home .row-left{
      text-align: left;
  }
  .home .img-container{
      width: 100%;
      height: 100%;
      border-radius: unset;
  }
  .home .img-border{
      height: 90%;
      width: 100%;
      transition: var(--transition);
      border-radius: unset;
      background: transparent;
  }
  .home .img-border:hover{
      transform: translateY(-14px);
  }

  /* about page */
  .about .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      grid-gap: 2rem;
  }
  /* services page */
  .services .item{
      flex: 0 0 calc(33.33% - 2rem);
  }
  /* contact page */
  .contact .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
  }
}

@media screen and (min-width: 1200px){
  /* footer */
  .footer .row{
      grid-template-columns: repeat(4, 1fr);
  }
  .footer .row .col{
      text-align: left;
  }
  .footer .col:first-child .text{
      margin: 0;
  }
  .social-links{
      justify-content: flex-start;
  }
  .footer-links a .fas{
      display: inline-block;
  }

  /* blog page */
  .blog .row{
      grid-template-columns: repeat(3, 1fr);
  }
}